<div class="row">
    <div class="col-md-12">
        Dodaj produkt
    </div>
    <div class="col-md-12">
        <form name="createProductForm" ng-submit="createProduct()">
            <div class="form-group">
                <label for="name">Podaj nazwę produktu</label>
                <input type="text" class="form-control" ng-model="product.Name" name="name" id="name" placeholder="Podaj nazwę produktu" />
            </div>
            <div class="form-group">
                <label for="name">Podaj cenę produktu</label>
                <input type="number" step="0.01" class="form-control" ng-model="product.Price" name="price" id="price" placeholder="Podaj cenę produktu" />
            </div>
            <div class="form-group">
                <label for="name">Podaj wagę produktu</label>
                <input type="number" class="form-control" ng-model="product.Weight" name="weight" id="weight" placeholder="Podaj wagę produktu" />
            </div>
            <button class="btn btn-primary" type="submit">Dodaj produkt</button>
        </form>
    </div>
</div>